apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - secretstore-vault.yaml
  - https://github.com/external-secrets/external-secrets/releases/download/v0.9.11/install.yaml
