apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability
  labels:
    grafana_datasource: '1'
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-k8s.monitoring.svc:9090
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        url: http://loki.observability.svc:3100
        access: proxy
