apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: env-local-ingress-overrides
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://github.com/ZakariaAitAli/idp-platform.git
    targetRevision: main
    path: kubernetes/ingress-nginx/overlays/local
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
