apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: keycloak-db
  namespace: keycloak
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: keycloak-db
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: platform/keycloak/database
        property: password
    - secretKey: username
      remoteRef:
        key: platform/keycloak/database
        property: username
    - secretKey: url
      remoteRef:
        key: platform/keycloak/database
        property: url
