apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: YOUR_NAMESPACE
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - externalsecret.yaml
  - networkpolicy.yaml
