apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
  annotations:
    metallb.universe.tf/address-pool: idp-services
spec:
  type: LoadBalancer
  loadBalancerIP: 172.18.0.80
