apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: vault
  labels:
    app: vault
spec:
  ports:
    - port: 8200
      targetPort: 8200
      name: api
  selector:
    app: vault
  type: ClusterIP
