apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example-app
  template:
    metadata:
      labels:
        app: example-app
    spec:
      serviceAccountName: example-app
      containers:
        - name: app
          image: nginx
          env:
            - name: APP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: example-secret
                  key: password
